text {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 11px;
    pointer-events: none;
}

/* Positions the chart at the top left. Commented out to allow the wheel to be placed inside the proper div container -Edward*/
/* #chart {
    position: absolute;
    width: 500px;
    height: 500px;
    top: 0;
    left: 0;
} */

/* Positions the wheel's response at the top left, slightly towards the center. Commented out to allow the response to be placed next to the wheel -Edward*/
/* #question {
    position: absolute;
    width: 400px;
    height: 500px;
    top: 0;
    left: 520px;
} */

#question h1 {
    font-size: 50px;
    font-weight: bold;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    /* position: absolute; */ /* Commented this out to allow the text to appear inside the div -Edward*/
    padding: 0;
    margin: 0;
    /* Commented this out to allow the text to appeade inside the div -Edward */
    /* top: 50%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%); */
}

/* Messing with the wheel stuff */
.chartHeightCopy {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Materialize Overwrite */ 
/* Changes the styling of the dropdown menu after being opened */
.dropdown-content{
    background-color: crimson; 
}
/* Changes the default button styling */
.btn {
    border: 2px dotted rgb(240, 199, 96);
    border-radius: 5px;
    color: rgb(240, 199, 96);
    background-color: darkred;
    padding: 10px 5px;
    margin: auto;
}
/* View 2 CSS stuff */
.dropdown-trigger {
    max-width: 80%;
}

/* View 3 CSS stuff */
body {
    background-color: rgb(54, 8, 8);
    color:rgb(240, 183, 38);
}

#headerLogo {
    max-width: 100%;
    max-height: 100%;
}

#headerContainer {
    font-size: 30px;
    font-weight: bold;
    margin: 10px auto;
}

#viewOverall {
    background-color: rgb(73, 7, 7);
    border: 2px solid gold;
    padding: 10px 0px;
    margin: 10px auto;
}

article.siteMission,
article.invitation,
article.screenInstructions {
    border: dashed 2px rgb(240, 183, 38);
    background-color: rgb(54, 8, 8);
    padding-top: .90rem;
    padding-bottom: .90rem;
}


.centerThisDiv {
    text-align: center;
    margin: auto;
    vertical-align: middle;
}

.buttonPanel {
    display: flex;
    justify-content: space-evenly;
}

.btnView3 {
    border: 2px dotted rgb(240, 199, 96);
    border-radius: 5px;
    color: rgb(240, 199, 96);
    background-color: darkred;
    padding: 10px 5px;
    margin: auto;
}

.hideMe {
    display: none;
}
